/*
 *  Flex Layout Specifics
*/

main {
    display: flex;
    flex-direction: row;
    width: 45%;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
}

.round .spacer {
    flex-grow: 1;
}

.round .spacer:first-child,
.round .spacer:last-child {
    flex-grow: .5;
}

.round .game-spacer {
    flex-grow: 1;
}


/*
   *  General Styles
  */

body {
    font-family: sans-serif;
    font-size: small;
    padding: 10px;
    line-height: 1.4em;
}

li.game {
    padding-left: 20px;
}

li.game.winner {
    font-weight: bold;
}


/*bottom*/

li.game span {
    float: right;
    margin-right: 3px;
}

li.game-top {
    border-bottom: 3px solid #aaa;
}


/*sides*/

li.game-spacer {
    border-right: 3px solid #aaa;
    min-height: 40px;
}

li.game-spacerLeft {
    border-left: 3px solid #aaa;
    min-height: 40px;
}


/*bottom*/

li.game-bottom {
    border-top: 3px solid #aaa;
}

.oneSide {
    width: 200%;
}

.spacerLeft2 {
    border-left: 3px solid #aaa;
    height: 100px;
}

.spacerLeft3 {
    border-left: 3px solid #aaa;
    height: 175px;
}

.spacerLeft4 {
    border-left: 3px solid #aaa;
    height: 390px;
    padding-left: 200px;
}

.spacerMiddle {
    border-left: 3px solid #aaa;
    height: 200px;
    padding-left: 200px;
}